@charset "UTF-8";
/**
* 溢出省略号
* @param {Number} 行数
*/
.mt2 {
  margin-top: 2px;
}

.mr2 {
  margin-right: 2px;
}

.mb2 {
  margin-bottom: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mx2 {
  margin-left: 2px;
  margin-right: 2px;
}

.my2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ma2 {
  margin: 2px;
}

.mt4 {
  margin-top: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mx4 {
  margin-left: 4px;
  margin-right: 4px;
}

.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ma4 {
  margin: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.ml8 {
  margin-left: 8px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ma8 {
  margin: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ma10 {
  margin: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ma15 {
  margin: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ma20 {
  margin: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mr24 {
  margin-right: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml24 {
  margin-left: 24px;
}

.mx24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ma24 {
  margin: 24px;
}

.mt30 {
  margin-top: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ma30 {
  margin: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ma40 {
  margin: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mr50 {
  margin-right: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ma50 {
  margin: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mr60 {
  margin-right: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml60 {
  margin-left: 60px;
}

.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}

.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.ma60 {
  margin: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mr70 {
  margin-right: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.ml70 {
  margin-left: 70px;
}

.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}

.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.ma70 {
  margin: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mr80 {
  margin-right: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.ml80 {
  margin-left: 80px;
}

.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ma80 {
  margin: 80px;
}

.mt100 {
  margin-top: 100px;
}

.mr100 {
  margin-right: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.ml100 {
  margin-left: 100px;
}

.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ma100 {
  margin: 100px;
}

.mt140 {
  margin-top: 140px;
}

.mr140 {
  margin-right: 140px;
}

.mb140 {
  margin-bottom: 140px;
}

.ml140 {
  margin-left: 140px;
}

.mx140 {
  margin-left: 140px;
  margin-right: 140px;
}

.my140 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.ma140 {
  margin: 140px;
}

.pt2 {
  padding-top: 2px;
}

.pr2 {
  padding-right: 2px;
}

.pb2 {
  padding-bottom: 2px;
}

.pl2 {
  padding-left: 2px;
}

.px2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pa2 {
  padding: 2px;
}

.pt4 {
  padding-top: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.pl4 {
  padding-left: 4px;
}

.px4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pa4 {
  padding: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pr8 {
  padding-right: 8px;
}

.pb8 {
  padding-bottom: 8px;
}

.pl8 {
  padding-left: 8px;
}

.px8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pa8 {
  padding: 8px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.px10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pa10 {
  padding: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pl15 {
  padding-left: 15px;
}

.px15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pa15 {
  padding: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl20 {
  padding-left: 20px;
}

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pa20 {
  padding: 20px;
}

.pt24 {
  padding-top: 24px;
}

.pr24 {
  padding-right: 24px;
}

.pb24 {
  padding-bottom: 24px;
}

.pl24 {
  padding-left: 24px;
}

.px24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pa24 {
  padding: 24px;
}

.pt30 {
  padding-top: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pl30 {
  padding-left: 30px;
}

.px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pa30 {
  padding: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pr40 {
  padding-right: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pl40 {
  padding-left: 40px;
}

.px40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pa40 {
  padding: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pr50 {
  padding-right: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.pl50 {
  padding-left: 50px;
}

.px50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pa50 {
  padding: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pr60 {
  padding-right: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.pl60 {
  padding-left: 60px;
}

.px60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pa60 {
  padding: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pr70 {
  padding-right: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.pl70 {
  padding-left: 70px;
}

.px70 {
  padding-left: 70px;
  padding-right: 70px;
}

.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pa70 {
  padding: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pr80 {
  padding-right: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.pl80 {
  padding-left: 80px;
}

.px80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pa80 {
  padding: 80px;
}

.pt100 {
  padding-top: 100px;
}

.pr100 {
  padding-right: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.pl100 {
  padding-left: 100px;
}

.px100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pa100 {
  padding: 100px;
}

.pt140 {
  padding-top: 140px;
}

.pr140 {
  padding-right: 140px;
}

.pb140 {
  padding-bottom: 140px;
}

.pl140 {
  padding-left: 140px;
}

.px140 {
  padding-left: 140px;
  padding-right: 140px;
}

.py140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.pa140 {
  padding: 140px;
}

.bc-primary {
  background-color: #2979ff;
}

.bc-primary-1 {
  background-color: rgba(41, 121, 255, 0.1);
}

.bc-primary-2 {
  background-color: rgba(41, 121, 255, 0.2);
}

.bc-primary-3 {
  background-color: rgba(41, 121, 255, 0.3);
}

.bc-primary-4 {
  background-color: rgba(41, 121, 255, 0.4);
}

.bc-primary-5 {
  background-color: rgba(41, 121, 255, 0.5);
}

.bc-primary-6 {
  background-color: rgba(41, 121, 255, 0.6);
}

.bc-primary-7 {
  background-color: rgba(41, 121, 255, 0.7);
}

.bc-primary-8 {
  background-color: rgba(41, 121, 255, 0.8);
}

.bc-primary-9 {
  background-color: rgba(41, 121, 255, 0.9);
}

.bc-primary-10 {
  background-color: #2979ff;
}

.bc-success {
  background-color: #19be6b;
}

.bc-success-1 {
  background-color: rgba(25, 190, 107, 0.1);
}

.bc-success-2 {
  background-color: rgba(25, 190, 107, 0.2);
}

.bc-success-3 {
  background-color: rgba(25, 190, 107, 0.3);
}

.bc-success-4 {
  background-color: rgba(25, 190, 107, 0.4);
}

.bc-success-5 {
  background-color: rgba(25, 190, 107, 0.5);
}

.bc-success-6 {
  background-color: rgba(25, 190, 107, 0.6);
}

.bc-success-7 {
  background-color: rgba(25, 190, 107, 0.7);
}

.bc-success-8 {
  background-color: rgba(25, 190, 107, 0.8);
}

.bc-success-9 {
  background-color: rgba(25, 190, 107, 0.9);
}

.bc-success-10 {
  background-color: #19be6b;
}

.bc-error {
  background-color: #fa3534;
}

.bc-error-1 {
  background-color: rgba(250, 53, 52, 0.1);
}

.bc-error-2 {
  background-color: rgba(250, 53, 52, 0.2);
}

.bc-error-3 {
  background-color: rgba(250, 53, 52, 0.3);
}

.bc-error-4 {
  background-color: rgba(250, 53, 52, 0.4);
}

.bc-error-5 {
  background-color: rgba(250, 53, 52, 0.5);
}

.bc-error-6 {
  background-color: rgba(250, 53, 52, 0.6);
}

.bc-error-7 {
  background-color: rgba(250, 53, 52, 0.7);
}

.bc-error-8 {
  background-color: rgba(250, 53, 52, 0.8);
}

.bc-error-9 {
  background-color: rgba(250, 53, 52, 0.9);
}

.bc-error-10 {
  background-color: #fa3534;
}

.bc-warning {
  background-color: #f90;
}

.bc-warning-1 {
  background-color: rgba(255, 153, 0, 0.1);
}

.bc-warning-2 {
  background-color: rgba(255, 153, 0, 0.2);
}

.bc-warning-3 {
  background-color: rgba(255, 153, 0, 0.3);
}

.bc-warning-4 {
  background-color: rgba(255, 153, 0, 0.4);
}

.bc-warning-5 {
  background-color: rgba(255, 153, 0, 0.5);
}

.bc-warning-6 {
  background-color: rgba(255, 153, 0, 0.6);
}

.bc-warning-7 {
  background-color: rgba(255, 153, 0, 0.7);
}

.bc-warning-8 {
  background-color: rgba(255, 153, 0, 0.8);
}

.bc-warning-9 {
  background-color: rgba(255, 153, 0, 0.9);
}

.bc-warning-10 {
  background-color: #ff9900;
}

.bc-info {
  background-color: #909399;
}

.bc-info-1 {
  background-color: rgba(144, 147, 153, 0.1);
}

.bc-info-2 {
  background-color: rgba(144, 147, 153, 0.2);
}

.bc-info-3 {
  background-color: rgba(144, 147, 153, 0.3);
}

.bc-info-4 {
  background-color: rgba(144, 147, 153, 0.4);
}

.bc-info-5 {
  background-color: rgba(144, 147, 153, 0.5);
}

.bc-info-6 {
  background-color: rgba(144, 147, 153, 0.6);
}

.bc-info-7 {
  background-color: rgba(144, 147, 153, 0.7);
}

.bc-info-8 {
  background-color: rgba(144, 147, 153, 0.8);
}

.bc-info-9 {
  background-color: rgba(144, 147, 153, 0.9);
}

.bc-info-10 {
  background-color: #909399;
}

.bc-bgc {
  background-color: #f3f4f6;
}

.bc-bgc-1 {
  background-color: rgba(243, 244, 246, 0.1);
}

.bc-bgc-2 {
  background-color: rgba(243, 244, 246, 0.2);
}

.bc-bgc-3 {
  background-color: rgba(243, 244, 246, 0.3);
}

.bc-bgc-4 {
  background-color: rgba(243, 244, 246, 0.4);
}

.bc-bgc-5 {
  background-color: rgba(243, 244, 246, 0.5);
}

.bc-bgc-6 {
  background-color: rgba(243, 244, 246, 0.6);
}

.bc-bgc-7 {
  background-color: rgba(243, 244, 246, 0.7);
}

.bc-bgc-8 {
  background-color: rgba(243, 244, 246, 0.8);
}

.bc-bgc-9 {
  background-color: rgba(243, 244, 246, 0.9);
}

.bc-bgc-10 {
  background-color: #f3f4f6;
}

.bc-main {
  background-color: #303133;
}

.bc-main-1 {
  background-color: rgba(48, 49, 51, 0.1);
}

.bc-main-2 {
  background-color: rgba(48, 49, 51, 0.2);
}

.bc-main-3 {
  background-color: rgba(48, 49, 51, 0.3);
}

.bc-main-4 {
  background-color: rgba(48, 49, 51, 0.4);
}

.bc-main-5 {
  background-color: rgba(48, 49, 51, 0.5);
}

.bc-main-6 {
  background-color: rgba(48, 49, 51, 0.6);
}

.bc-main-7 {
  background-color: rgba(48, 49, 51, 0.7);
}

.bc-main-8 {
  background-color: rgba(48, 49, 51, 0.8);
}

.bc-main-9 {
  background-color: rgba(48, 49, 51, 0.9);
}

.bc-main-10 {
  background-color: #303133;
}

.bc-base {
  background-color: #606266;
}

.bc-base-1 {
  background-color: rgba(96, 98, 102, 0.1);
}

.bc-base-2 {
  background-color: rgba(96, 98, 102, 0.2);
}

.bc-base-3 {
  background-color: rgba(96, 98, 102, 0.3);
}

.bc-base-4 {
  background-color: rgba(96, 98, 102, 0.4);
}

.bc-base-5 {
  background-color: rgba(96, 98, 102, 0.5);
}

.bc-base-6 {
  background-color: rgba(96, 98, 102, 0.6);
}

.bc-base-7 {
  background-color: rgba(96, 98, 102, 0.7);
}

.bc-base-8 {
  background-color: rgba(96, 98, 102, 0.8);
}

.bc-base-9 {
  background-color: rgba(96, 98, 102, 0.9);
}

.bc-base-10 {
  background-color: #606266;
}

.bc-tips {
  background-color: #909399;
}

.bc-tips-1 {
  background-color: rgba(144, 147, 153, 0.1);
}

.bc-tips-2 {
  background-color: rgba(144, 147, 153, 0.2);
}

.bc-tips-3 {
  background-color: rgba(144, 147, 153, 0.3);
}

.bc-tips-4 {
  background-color: rgba(144, 147, 153, 0.4);
}

.bc-tips-5 {
  background-color: rgba(144, 147, 153, 0.5);
}

.bc-tips-6 {
  background-color: rgba(144, 147, 153, 0.6);
}

.bc-tips-7 {
  background-color: rgba(144, 147, 153, 0.7);
}

.bc-tips-8 {
  background-color: rgba(144, 147, 153, 0.8);
}

.bc-tips-9 {
  background-color: rgba(144, 147, 153, 0.9);
}

.bc-tips-10 {
  background-color: #909399;
}

.bc-light {
  background-color: #c0c4cc;
}

.bc-light-1 {
  background-color: rgba(192, 196, 204, 0.1);
}

.bc-light-2 {
  background-color: rgba(192, 196, 204, 0.2);
}

.bc-light-3 {
  background-color: rgba(192, 196, 204, 0.3);
}

.bc-light-4 {
  background-color: rgba(192, 196, 204, 0.4);
}

.bc-light-5 {
  background-color: rgba(192, 196, 204, 0.5);
}

.bc-light-6 {
  background-color: rgba(192, 196, 204, 0.6);
}

.bc-light-7 {
  background-color: rgba(192, 196, 204, 0.7);
}

.bc-light-8 {
  background-color: rgba(192, 196, 204, 0.8);
}

.bc-light-9 {
  background-color: rgba(192, 196, 204, 0.9);
}

.bc-light-10 {
  background-color: #c0c4cc;
}

.bc-brc {
  background-color: #e4e7ed;
}

.bc-brc-1 {
  background-color: rgba(228, 231, 237, 0.1);
}

.bc-brc-2 {
  background-color: rgba(228, 231, 237, 0.2);
}

.bc-brc-3 {
  background-color: rgba(228, 231, 237, 0.3);
}

.bc-brc-4 {
  background-color: rgba(228, 231, 237, 0.4);
}

.bc-brc-5 {
  background-color: rgba(228, 231, 237, 0.5);
}

.bc-brc-6 {
  background-color: rgba(228, 231, 237, 0.6);
}

.bc-brc-7 {
  background-color: rgba(228, 231, 237, 0.7);
}

.bc-brc-8 {
  background-color: rgba(228, 231, 237, 0.8);
}

.bc-brc-9 {
  background-color: rgba(228, 231, 237, 0.9);
}

.bc-brc-10 {
  background-color: #e4e7ed;
}

.bc-black {
  background-color: #000;
}

.bc-black-1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bc-black-2 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bc-black-3 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bc-black-4 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bc-black-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bc-black-6 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bc-black-7 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bc-black-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bc-black-9 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bc-black-10 {
  background-color: black;
}

.bc-white {
  background-color: #fff;
}

.bc-white-1 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bc-white-2 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bc-white-3 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bc-white-4 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bc-white-5 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bc-white-6 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bc-white-7 {
  background-color: rgba(255, 255, 255, 0.7);
}

.bc-white-8 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bc-white-9 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bc-white-10 {
  background-color: white;
}

.bc-gray {
  background-color: #bbb;
}

.bc-gray-1 {
  background-color: rgba(187, 187, 187, 0.1);
}

.bc-gray-2 {
  background-color: rgba(187, 187, 187, 0.2);
}

.bc-gray-3 {
  background-color: rgba(187, 187, 187, 0.3);
}

.bc-gray-4 {
  background-color: rgba(187, 187, 187, 0.4);
}

.bc-gray-5 {
  background-color: rgba(187, 187, 187, 0.5);
}

.bc-gray-6 {
  background-color: rgba(187, 187, 187, 0.6);
}

.bc-gray-7 {
  background-color: rgba(187, 187, 187, 0.7);
}

.bc-gray-8 {
  background-color: rgba(187, 187, 187, 0.8);
}

.bc-gray-9 {
  background-color: rgba(187, 187, 187, 0.9);
}

.bc-gray-10 {
  background-color: #bbbbbb;
}

.bc-dark {
  background-color: #777;
}

.bc-dark-1 {
  background-color: rgba(119, 119, 119, 0.1);
}

.bc-dark-2 {
  background-color: rgba(119, 119, 119, 0.2);
}

.bc-dark-3 {
  background-color: rgba(119, 119, 119, 0.3);
}

.bc-dark-4 {
  background-color: rgba(119, 119, 119, 0.4);
}

.bc-dark-5 {
  background-color: rgba(119, 119, 119, 0.5);
}

.bc-dark-6 {
  background-color: rgba(119, 119, 119, 0.6);
}

.bc-dark-7 {
  background-color: rgba(119, 119, 119, 0.7);
}

.bc-dark-8 {
  background-color: rgba(119, 119, 119, 0.8);
}

.bc-dark-9 {
  background-color: rgba(119, 119, 119, 0.9);
}

.bc-dark-10 {
  background-color: #777777;
}

.bc-blue {
  background-color: #1464c7;
}

.bc-blue-1 {
  background-color: rgba(20, 100, 199, 0.1);
}

.bc-blue-2 {
  background-color: rgba(20, 100, 199, 0.2);
}

.bc-blue-3 {
  background-color: rgba(20, 100, 199, 0.3);
}

.bc-blue-4 {
  background-color: rgba(20, 100, 199, 0.4);
}

.bc-blue-5 {
  background-color: rgba(20, 100, 199, 0.5);
}

.bc-blue-6 {
  background-color: rgba(20, 100, 199, 0.6);
}

.bc-blue-7 {
  background-color: rgba(20, 100, 199, 0.7);
}

.bc-blue-8 {
  background-color: rgba(20, 100, 199, 0.8);
}

.bc-blue-9 {
  background-color: rgba(20, 100, 199, 0.9);
}

.bc-blue-10 {
  background-color: #1464c7;
}

.bc-skyblue {
  background-color: #4e92e7;
}

.bc-skyblue-1 {
  background-color: rgba(78, 146, 231, 0.1);
}

.bc-skyblue-2 {
  background-color: rgba(78, 146, 231, 0.2);
}

.bc-skyblue-3 {
  background-color: rgba(78, 146, 231, 0.3);
}

.bc-skyblue-4 {
  background-color: rgba(78, 146, 231, 0.4);
}

.bc-skyblue-5 {
  background-color: rgba(78, 146, 231, 0.5);
}

.bc-skyblue-6 {
  background-color: rgba(78, 146, 231, 0.6);
}

.bc-skyblue-7 {
  background-color: rgba(78, 146, 231, 0.7);
}

.bc-skyblue-8 {
  background-color: rgba(78, 146, 231, 0.8);
}

.bc-skyblue-9 {
  background-color: rgba(78, 146, 231, 0.9);
}

.bc-skyblue-10 {
  background-color: #4e92e7;
}

.bc-green {
  background-color: #01b601;
}

.bc-green-1 {
  background-color: rgba(1, 182, 1, 0.1);
}

.bc-green-2 {
  background-color: rgba(1, 182, 1, 0.2);
}

.bc-green-3 {
  background-color: rgba(1, 182, 1, 0.3);
}

.bc-green-4 {
  background-color: rgba(1, 182, 1, 0.4);
}

.bc-green-5 {
  background-color: rgba(1, 182, 1, 0.5);
}

.bc-green-6 {
  background-color: rgba(1, 182, 1, 0.6);
}

.bc-green-7 {
  background-color: rgba(1, 182, 1, 0.7);
}

.bc-green-8 {
  background-color: rgba(1, 182, 1, 0.8);
}

.bc-green-9 {
  background-color: rgba(1, 182, 1, 0.9);
}

.bc-green-10 {
  background-color: #01b601;
}

.bc-red {
  background-color: #f00;
}

.bc-red-1 {
  background-color: rgba(255, 0, 0, 0.1);
}

.bc-red-2 {
  background-color: rgba(255, 0, 0, 0.2);
}

.bc-red-3 {
  background-color: rgba(255, 0, 0, 0.3);
}

.bc-red-4 {
  background-color: rgba(255, 0, 0, 0.4);
}

.bc-red-5 {
  background-color: rgba(255, 0, 0, 0.5);
}

.bc-red-6 {
  background-color: rgba(255, 0, 0, 0.6);
}

.bc-red-7 {
  background-color: rgba(255, 0, 0, 0.7);
}

.bc-red-8 {
  background-color: rgba(255, 0, 0, 0.8);
}

.bc-red-9 {
  background-color: rgba(255, 0, 0, 0.9);
}

.bc-red-10 {
  background-color: red;
}

.bc-orange {
  background-color: #f79347;
}

.bc-orange-1 {
  background-color: rgba(247, 147, 71, 0.1);
}

.bc-orange-2 {
  background-color: rgba(247, 147, 71, 0.2);
}

.bc-orange-3 {
  background-color: rgba(247, 147, 71, 0.3);
}

.bc-orange-4 {
  background-color: rgba(247, 147, 71, 0.4);
}

.bc-orange-5 {
  background-color: rgba(247, 147, 71, 0.5);
}

.bc-orange-6 {
  background-color: rgba(247, 147, 71, 0.6);
}

.bc-orange-7 {
  background-color: rgba(247, 147, 71, 0.7);
}

.bc-orange-8 {
  background-color: rgba(247, 147, 71, 0.8);
}

.bc-orange-9 {
  background-color: rgba(247, 147, 71, 0.9);
}

.bc-orange-10 {
  background-color: #f79347;
}

.bc-yellow {
  background-color: #ffbf2b;
}

.bc-yellow-1 {
  background-color: rgba(255, 191, 43, 0.1);
}

.bc-yellow-2 {
  background-color: rgba(255, 191, 43, 0.2);
}

.bc-yellow-3 {
  background-color: rgba(255, 191, 43, 0.3);
}

.bc-yellow-4 {
  background-color: rgba(255, 191, 43, 0.4);
}

.bc-yellow-5 {
  background-color: rgba(255, 191, 43, 0.5);
}

.bc-yellow-6 {
  background-color: rgba(255, 191, 43, 0.6);
}

.bc-yellow-7 {
  background-color: rgba(255, 191, 43, 0.7);
}

.bc-yellow-8 {
  background-color: rgba(255, 191, 43, 0.8);
}

.bc-yellow-9 {
  background-color: rgba(255, 191, 43, 0.9);
}

.bc-yellow-10 {
  background-color: #ffbf2b;
}

.c-primary {
  color: #2979ff;
}

.c-primary-1 {
  color: rgba(41, 121, 255, 0.1);
}

.c-primary-2 {
  color: rgba(41, 121, 255, 0.2);
}

.c-primary-3 {
  color: rgba(41, 121, 255, 0.3);
}

.c-primary-4 {
  color: rgba(41, 121, 255, 0.4);
}

.c-primary-5 {
  color: rgba(41, 121, 255, 0.5);
}

.c-primary-6 {
  color: rgba(41, 121, 255, 0.6);
}

.c-primary-7 {
  color: rgba(41, 121, 255, 0.7);
}

.c-primary-8 {
  color: rgba(41, 121, 255, 0.8);
}

.c-primary-9 {
  color: rgba(41, 121, 255, 0.9);
}

.c-primary-10 {
  color: #2979ff;
}

.c-success {
  color: #19be6b;
}

.c-success-1 {
  color: rgba(25, 190, 107, 0.1);
}

.c-success-2 {
  color: rgba(25, 190, 107, 0.2);
}

.c-success-3 {
  color: rgba(25, 190, 107, 0.3);
}

.c-success-4 {
  color: rgba(25, 190, 107, 0.4);
}

.c-success-5 {
  color: rgba(25, 190, 107, 0.5);
}

.c-success-6 {
  color: rgba(25, 190, 107, 0.6);
}

.c-success-7 {
  color: rgba(25, 190, 107, 0.7);
}

.c-success-8 {
  color: rgba(25, 190, 107, 0.8);
}

.c-success-9 {
  color: rgba(25, 190, 107, 0.9);
}

.c-success-10 {
  color: #19be6b;
}

.c-error {
  color: #fa3534;
}

.c-error-1 {
  color: rgba(250, 53, 52, 0.1);
}

.c-error-2 {
  color: rgba(250, 53, 52, 0.2);
}

.c-error-3 {
  color: rgba(250, 53, 52, 0.3);
}

.c-error-4 {
  color: rgba(250, 53, 52, 0.4);
}

.c-error-5 {
  color: rgba(250, 53, 52, 0.5);
}

.c-error-6 {
  color: rgba(250, 53, 52, 0.6);
}

.c-error-7 {
  color: rgba(250, 53, 52, 0.7);
}

.c-error-8 {
  color: rgba(250, 53, 52, 0.8);
}

.c-error-9 {
  color: rgba(250, 53, 52, 0.9);
}

.c-error-10 {
  color: #fa3534;
}

.c-warning {
  color: #f90;
}

.c-warning-1 {
  color: rgba(255, 153, 0, 0.1);
}

.c-warning-2 {
  color: rgba(255, 153, 0, 0.2);
}

.c-warning-3 {
  color: rgba(255, 153, 0, 0.3);
}

.c-warning-4 {
  color: rgba(255, 153, 0, 0.4);
}

.c-warning-5 {
  color: rgba(255, 153, 0, 0.5);
}

.c-warning-6 {
  color: rgba(255, 153, 0, 0.6);
}

.c-warning-7 {
  color: rgba(255, 153, 0, 0.7);
}

.c-warning-8 {
  color: rgba(255, 153, 0, 0.8);
}

.c-warning-9 {
  color: rgba(255, 153, 0, 0.9);
}

.c-warning-10 {
  color: #ff9900;
}

.c-info {
  color: #909399;
}

.c-info-1 {
  color: rgba(144, 147, 153, 0.1);
}

.c-info-2 {
  color: rgba(144, 147, 153, 0.2);
}

.c-info-3 {
  color: rgba(144, 147, 153, 0.3);
}

.c-info-4 {
  color: rgba(144, 147, 153, 0.4);
}

.c-info-5 {
  color: rgba(144, 147, 153, 0.5);
}

.c-info-6 {
  color: rgba(144, 147, 153, 0.6);
}

.c-info-7 {
  color: rgba(144, 147, 153, 0.7);
}

.c-info-8 {
  color: rgba(144, 147, 153, 0.8);
}

.c-info-9 {
  color: rgba(144, 147, 153, 0.9);
}

.c-info-10 {
  color: #909399;
}

.c-bgc {
  color: #f3f4f6;
}

.c-bgc-1 {
  color: rgba(243, 244, 246, 0.1);
}

.c-bgc-2 {
  color: rgba(243, 244, 246, 0.2);
}

.c-bgc-3 {
  color: rgba(243, 244, 246, 0.3);
}

.c-bgc-4 {
  color: rgba(243, 244, 246, 0.4);
}

.c-bgc-5 {
  color: rgba(243, 244, 246, 0.5);
}

.c-bgc-6 {
  color: rgba(243, 244, 246, 0.6);
}

.c-bgc-7 {
  color: rgba(243, 244, 246, 0.7);
}

.c-bgc-8 {
  color: rgba(243, 244, 246, 0.8);
}

.c-bgc-9 {
  color: rgba(243, 244, 246, 0.9);
}

.c-bgc-10 {
  color: #f3f4f6;
}

.c-main {
  color: #303133;
}

.c-main-1 {
  color: rgba(48, 49, 51, 0.1);
}

.c-main-2 {
  color: rgba(48, 49, 51, 0.2);
}

.c-main-3 {
  color: rgba(48, 49, 51, 0.3);
}

.c-main-4 {
  color: rgba(48, 49, 51, 0.4);
}

.c-main-5 {
  color: rgba(48, 49, 51, 0.5);
}

.c-main-6 {
  color: rgba(48, 49, 51, 0.6);
}

.c-main-7 {
  color: rgba(48, 49, 51, 0.7);
}

.c-main-8 {
  color: rgba(48, 49, 51, 0.8);
}

.c-main-9 {
  color: rgba(48, 49, 51, 0.9);
}

.c-main-10 {
  color: #303133;
}

.c-base {
  color: #606266;
}

.c-base-1 {
  color: rgba(96, 98, 102, 0.1);
}

.c-base-2 {
  color: rgba(96, 98, 102, 0.2);
}

.c-base-3 {
  color: rgba(96, 98, 102, 0.3);
}

.c-base-4 {
  color: rgba(96, 98, 102, 0.4);
}

.c-base-5 {
  color: rgba(96, 98, 102, 0.5);
}

.c-base-6 {
  color: rgba(96, 98, 102, 0.6);
}

.c-base-7 {
  color: rgba(96, 98, 102, 0.7);
}

.c-base-8 {
  color: rgba(96, 98, 102, 0.8);
}

.c-base-9 {
  color: rgba(96, 98, 102, 0.9);
}

.c-base-10 {
  color: #606266;
}

.c-tips {
  color: #909399;
}

.c-tips-1 {
  color: rgba(144, 147, 153, 0.1);
}

.c-tips-2 {
  color: rgba(144, 147, 153, 0.2);
}

.c-tips-3 {
  color: rgba(144, 147, 153, 0.3);
}

.c-tips-4 {
  color: rgba(144, 147, 153, 0.4);
}

.c-tips-5 {
  color: rgba(144, 147, 153, 0.5);
}

.c-tips-6 {
  color: rgba(144, 147, 153, 0.6);
}

.c-tips-7 {
  color: rgba(144, 147, 153, 0.7);
}

.c-tips-8 {
  color: rgba(144, 147, 153, 0.8);
}

.c-tips-9 {
  color: rgba(144, 147, 153, 0.9);
}

.c-tips-10 {
  color: #909399;
}

.c-light {
  color: #c0c4cc;
}

.c-light-1 {
  color: rgba(192, 196, 204, 0.1);
}

.c-light-2 {
  color: rgba(192, 196, 204, 0.2);
}

.c-light-3 {
  color: rgba(192, 196, 204, 0.3);
}

.c-light-4 {
  color: rgba(192, 196, 204, 0.4);
}

.c-light-5 {
  color: rgba(192, 196, 204, 0.5);
}

.c-light-6 {
  color: rgba(192, 196, 204, 0.6);
}

.c-light-7 {
  color: rgba(192, 196, 204, 0.7);
}

.c-light-8 {
  color: rgba(192, 196, 204, 0.8);
}

.c-light-9 {
  color: rgba(192, 196, 204, 0.9);
}

.c-light-10 {
  color: #c0c4cc;
}

.c-brc {
  color: #e4e7ed;
}

.c-brc-1 {
  color: rgba(228, 231, 237, 0.1);
}

.c-brc-2 {
  color: rgba(228, 231, 237, 0.2);
}

.c-brc-3 {
  color: rgba(228, 231, 237, 0.3);
}

.c-brc-4 {
  color: rgba(228, 231, 237, 0.4);
}

.c-brc-5 {
  color: rgba(228, 231, 237, 0.5);
}

.c-brc-6 {
  color: rgba(228, 231, 237, 0.6);
}

.c-brc-7 {
  color: rgba(228, 231, 237, 0.7);
}

.c-brc-8 {
  color: rgba(228, 231, 237, 0.8);
}

.c-brc-9 {
  color: rgba(228, 231, 237, 0.9);
}

.c-brc-10 {
  color: #e4e7ed;
}

.c-black {
  color: #000;
}

.c-black-1 {
  color: rgba(0, 0, 0, 0.1);
}

.c-black-2 {
  color: rgba(0, 0, 0, 0.2);
}

.c-black-3 {
  color: rgba(0, 0, 0, 0.3);
}

.c-black-4 {
  color: rgba(0, 0, 0, 0.4);
}

.c-black-5 {
  color: rgba(0, 0, 0, 0.5);
}

.c-black-6 {
  color: rgba(0, 0, 0, 0.6);
}

.c-black-7 {
  color: rgba(0, 0, 0, 0.7);
}

.c-black-8 {
  color: rgba(0, 0, 0, 0.8);
}

.c-black-9 {
  color: rgba(0, 0, 0, 0.9);
}

.c-black-10 {
  color: black;
}

.c-white {
  color: #fff;
}

.c-white-1 {
  color: rgba(255, 255, 255, 0.1);
}

.c-white-2 {
  color: rgba(255, 255, 255, 0.2);
}

.c-white-3 {
  color: rgba(255, 255, 255, 0.3);
}

.c-white-4 {
  color: rgba(255, 255, 255, 0.4);
}

.c-white-5 {
  color: rgba(255, 255, 255, 0.5);
}

.c-white-6 {
  color: rgba(255, 255, 255, 0.6);
}

.c-white-7 {
  color: rgba(255, 255, 255, 0.7);
}

.c-white-8 {
  color: rgba(255, 255, 255, 0.8);
}

.c-white-9 {
  color: rgba(255, 255, 255, 0.9);
}

.c-white-10 {
  color: white;
}

.c-gray {
  color: #bbb;
}

.c-gray-1 {
  color: rgba(187, 187, 187, 0.1);
}

.c-gray-2 {
  color: rgba(187, 187, 187, 0.2);
}

.c-gray-3 {
  color: rgba(187, 187, 187, 0.3);
}

.c-gray-4 {
  color: rgba(187, 187, 187, 0.4);
}

.c-gray-5 {
  color: rgba(187, 187, 187, 0.5);
}

.c-gray-6 {
  color: rgba(187, 187, 187, 0.6);
}

.c-gray-7 {
  color: rgba(187, 187, 187, 0.7);
}

.c-gray-8 {
  color: rgba(187, 187, 187, 0.8);
}

.c-gray-9 {
  color: rgba(187, 187, 187, 0.9);
}

.c-gray-10 {
  color: #bbbbbb;
}

.c-dark {
  color: #777;
}

.c-dark-1 {
  color: rgba(119, 119, 119, 0.1);
}

.c-dark-2 {
  color: rgba(119, 119, 119, 0.2);
}

.c-dark-3 {
  color: rgba(119, 119, 119, 0.3);
}

.c-dark-4 {
  color: rgba(119, 119, 119, 0.4);
}

.c-dark-5 {
  color: rgba(119, 119, 119, 0.5);
}

.c-dark-6 {
  color: rgba(119, 119, 119, 0.6);
}

.c-dark-7 {
  color: rgba(119, 119, 119, 0.7);
}

.c-dark-8 {
  color: rgba(119, 119, 119, 0.8);
}

.c-dark-9 {
  color: rgba(119, 119, 119, 0.9);
}

.c-dark-10 {
  color: #777777;
}

.c-blue {
  color: #1464c7;
}

.c-blue-1 {
  color: rgba(20, 100, 199, 0.1);
}

.c-blue-2 {
  color: rgba(20, 100, 199, 0.2);
}

.c-blue-3 {
  color: rgba(20, 100, 199, 0.3);
}

.c-blue-4 {
  color: rgba(20, 100, 199, 0.4);
}

.c-blue-5 {
  color: rgba(20, 100, 199, 0.5);
}

.c-blue-6 {
  color: rgba(20, 100, 199, 0.6);
}

.c-blue-7 {
  color: rgba(20, 100, 199, 0.7);
}

.c-blue-8 {
  color: rgba(20, 100, 199, 0.8);
}

.c-blue-9 {
  color: rgba(20, 100, 199, 0.9);
}

.c-blue-10 {
  color: #1464c7;
}

.c-skyblue {
  color: #4e92e7;
}

.c-skyblue-1 {
  color: rgba(78, 146, 231, 0.1);
}

.c-skyblue-2 {
  color: rgba(78, 146, 231, 0.2);
}

.c-skyblue-3 {
  color: rgba(78, 146, 231, 0.3);
}

.c-skyblue-4 {
  color: rgba(78, 146, 231, 0.4);
}

.c-skyblue-5 {
  color: rgba(78, 146, 231, 0.5);
}

.c-skyblue-6 {
  color: rgba(78, 146, 231, 0.6);
}

.c-skyblue-7 {
  color: rgba(78, 146, 231, 0.7);
}

.c-skyblue-8 {
  color: rgba(78, 146, 231, 0.8);
}

.c-skyblue-9 {
  color: rgba(78, 146, 231, 0.9);
}

.c-skyblue-10 {
  color: #4e92e7;
}

.c-green {
  color: #01b601;
}

.c-green-1 {
  color: rgba(1, 182, 1, 0.1);
}

.c-green-2 {
  color: rgba(1, 182, 1, 0.2);
}

.c-green-3 {
  color: rgba(1, 182, 1, 0.3);
}

.c-green-4 {
  color: rgba(1, 182, 1, 0.4);
}

.c-green-5 {
  color: rgba(1, 182, 1, 0.5);
}

.c-green-6 {
  color: rgba(1, 182, 1, 0.6);
}

.c-green-7 {
  color: rgba(1, 182, 1, 0.7);
}

.c-green-8 {
  color: rgba(1, 182, 1, 0.8);
}

.c-green-9 {
  color: rgba(1, 182, 1, 0.9);
}

.c-green-10 {
  color: #01b601;
}

.c-red {
  color: #f00;
}

.c-red-1 {
  color: rgba(255, 0, 0, 0.1);
}

.c-red-2 {
  color: rgba(255, 0, 0, 0.2);
}

.c-red-3 {
  color: rgba(255, 0, 0, 0.3);
}

.c-red-4 {
  color: rgba(255, 0, 0, 0.4);
}

.c-red-5 {
  color: rgba(255, 0, 0, 0.5);
}

.c-red-6 {
  color: rgba(255, 0, 0, 0.6);
}

.c-red-7 {
  color: rgba(255, 0, 0, 0.7);
}

.c-red-8 {
  color: rgba(255, 0, 0, 0.8);
}

.c-red-9 {
  color: rgba(255, 0, 0, 0.9);
}

.c-red-10 {
  color: red;
}

.c-orange {
  color: #f79347;
}

.c-orange-1 {
  color: rgba(247, 147, 71, 0.1);
}

.c-orange-2 {
  color: rgba(247, 147, 71, 0.2);
}

.c-orange-3 {
  color: rgba(247, 147, 71, 0.3);
}

.c-orange-4 {
  color: rgba(247, 147, 71, 0.4);
}

.c-orange-5 {
  color: rgba(247, 147, 71, 0.5);
}

.c-orange-6 {
  color: rgba(247, 147, 71, 0.6);
}

.c-orange-7 {
  color: rgba(247, 147, 71, 0.7);
}

.c-orange-8 {
  color: rgba(247, 147, 71, 0.8);
}

.c-orange-9 {
  color: rgba(247, 147, 71, 0.9);
}

.c-orange-10 {
  color: #f79347;
}

.c-yellow {
  color: #ffbf2b;
}

.c-yellow-1 {
  color: rgba(255, 191, 43, 0.1);
}

.c-yellow-2 {
  color: rgba(255, 191, 43, 0.2);
}

.c-yellow-3 {
  color: rgba(255, 191, 43, 0.3);
}

.c-yellow-4 {
  color: rgba(255, 191, 43, 0.4);
}

.c-yellow-5 {
  color: rgba(255, 191, 43, 0.5);
}

.c-yellow-6 {
  color: rgba(255, 191, 43, 0.6);
}

.c-yellow-7 {
  color: rgba(255, 191, 43, 0.7);
}

.c-yellow-8 {
  color: rgba(255, 191, 43, 0.8);
}

.c-yellow-9 {
  color: rgba(255, 191, 43, 0.9);
}

.c-yellow-10 {
  color: #ffbf2b;
}

.bs-1-primary {
  border: 1px solid #2979ff;
}

.bs-t-1-primary {
  border-top: 1px solid #2979ff;
}

.bs-r-1-primary {
  border-right: 1px solid #2979ff;
}

.bs-b-1-primary {
  border-bottom: 1px solid #2979ff;
}

.bs-l-1-primary {
  border-left: 1px solid #2979ff;
}

.bs-1-success {
  border: 1px solid #19be6b;
}

.bs-t-1-success {
  border-top: 1px solid #19be6b;
}

.bs-r-1-success {
  border-right: 1px solid #19be6b;
}

.bs-b-1-success {
  border-bottom: 1px solid #19be6b;
}

.bs-l-1-success {
  border-left: 1px solid #19be6b;
}

.bs-1-error {
  border: 1px solid #fa3534;
}

.bs-t-1-error {
  border-top: 1px solid #fa3534;
}

.bs-r-1-error {
  border-right: 1px solid #fa3534;
}

.bs-b-1-error {
  border-bottom: 1px solid #fa3534;
}

.bs-l-1-error {
  border-left: 1px solid #fa3534;
}

.bs-1-warning {
  border: 1px solid #f90;
}

.bs-t-1-warning {
  border-top: 1px solid #f90;
}

.bs-r-1-warning {
  border-right: 1px solid #f90;
}

.bs-b-1-warning {
  border-bottom: 1px solid #f90;
}

.bs-l-1-warning {
  border-left: 1px solid #f90;
}

.bs-1-info {
  border: 1px solid #909399;
}

.bs-t-1-info {
  border-top: 1px solid #909399;
}

.bs-r-1-info {
  border-right: 1px solid #909399;
}

.bs-b-1-info {
  border-bottom: 1px solid #909399;
}

.bs-l-1-info {
  border-left: 1px solid #909399;
}

.bs-1-bgc {
  border: 1px solid #f3f4f6;
}

.bs-t-1-bgc {
  border-top: 1px solid #f3f4f6;
}

.bs-r-1-bgc {
  border-right: 1px solid #f3f4f6;
}

.bs-b-1-bgc {
  border-bottom: 1px solid #f3f4f6;
}

.bs-l-1-bgc {
  border-left: 1px solid #f3f4f6;
}

.bs-1-main {
  border: 1px solid #303133;
}

.bs-t-1-main {
  border-top: 1px solid #303133;
}

.bs-r-1-main {
  border-right: 1px solid #303133;
}

.bs-b-1-main {
  border-bottom: 1px solid #303133;
}

.bs-l-1-main {
  border-left: 1px solid #303133;
}

.bs-1-base {
  border: 1px solid #606266;
}

.bs-t-1-base {
  border-top: 1px solid #606266;
}

.bs-r-1-base {
  border-right: 1px solid #606266;
}

.bs-b-1-base {
  border-bottom: 1px solid #606266;
}

.bs-l-1-base {
  border-left: 1px solid #606266;
}

.bs-1-tips {
  border: 1px solid #909399;
}

.bs-t-1-tips {
  border-top: 1px solid #909399;
}

.bs-r-1-tips {
  border-right: 1px solid #909399;
}

.bs-b-1-tips {
  border-bottom: 1px solid #909399;
}

.bs-l-1-tips {
  border-left: 1px solid #909399;
}

.bs-1-light {
  border: 1px solid #c0c4cc;
}

.bs-t-1-light {
  border-top: 1px solid #c0c4cc;
}

.bs-r-1-light {
  border-right: 1px solid #c0c4cc;
}

.bs-b-1-light {
  border-bottom: 1px solid #c0c4cc;
}

.bs-l-1-light {
  border-left: 1px solid #c0c4cc;
}

.bs-1-brc {
  border: 1px solid #e4e7ed;
}

.bs-t-1-brc {
  border-top: 1px solid #e4e7ed;
}

.bs-r-1-brc {
  border-right: 1px solid #e4e7ed;
}

.bs-b-1-brc {
  border-bottom: 1px solid #e4e7ed;
}

.bs-l-1-brc {
  border-left: 1px solid #e4e7ed;
}

.bs-1-black {
  border: 1px solid #000;
}

.bs-t-1-black {
  border-top: 1px solid #000;
}

.bs-r-1-black {
  border-right: 1px solid #000;
}

.bs-b-1-black {
  border-bottom: 1px solid #000;
}

.bs-l-1-black {
  border-left: 1px solid #000;
}

.bs-1-white {
  border: 1px solid #fff;
}

.bs-t-1-white {
  border-top: 1px solid #fff;
}

.bs-r-1-white {
  border-right: 1px solid #fff;
}

.bs-b-1-white {
  border-bottom: 1px solid #fff;
}

.bs-l-1-white {
  border-left: 1px solid #fff;
}

.bs-1-gray {
  border: 1px solid #bbb;
}

.bs-t-1-gray {
  border-top: 1px solid #bbb;
}

.bs-r-1-gray {
  border-right: 1px solid #bbb;
}

.bs-b-1-gray {
  border-bottom: 1px solid #bbb;
}

.bs-l-1-gray {
  border-left: 1px solid #bbb;
}

.bs-1-dark {
  border: 1px solid #777;
}

.bs-t-1-dark {
  border-top: 1px solid #777;
}

.bs-r-1-dark {
  border-right: 1px solid #777;
}

.bs-b-1-dark {
  border-bottom: 1px solid #777;
}

.bs-l-1-dark {
  border-left: 1px solid #777;
}

.bs-1-blue {
  border: 1px solid #1464c7;
}

.bs-t-1-blue {
  border-top: 1px solid #1464c7;
}

.bs-r-1-blue {
  border-right: 1px solid #1464c7;
}

.bs-b-1-blue {
  border-bottom: 1px solid #1464c7;
}

.bs-l-1-blue {
  border-left: 1px solid #1464c7;
}

.bs-1-skyblue {
  border: 1px solid #4e92e7;
}

.bs-t-1-skyblue {
  border-top: 1px solid #4e92e7;
}

.bs-r-1-skyblue {
  border-right: 1px solid #4e92e7;
}

.bs-b-1-skyblue {
  border-bottom: 1px solid #4e92e7;
}

.bs-l-1-skyblue {
  border-left: 1px solid #4e92e7;
}

.bs-1-green {
  border: 1px solid #01b601;
}

.bs-t-1-green {
  border-top: 1px solid #01b601;
}

.bs-r-1-green {
  border-right: 1px solid #01b601;
}

.bs-b-1-green {
  border-bottom: 1px solid #01b601;
}

.bs-l-1-green {
  border-left: 1px solid #01b601;
}

.bs-1-red {
  border: 1px solid #f00;
}

.bs-t-1-red {
  border-top: 1px solid #f00;
}

.bs-r-1-red {
  border-right: 1px solid #f00;
}

.bs-b-1-red {
  border-bottom: 1px solid #f00;
}

.bs-l-1-red {
  border-left: 1px solid #f00;
}

.bs-1-orange {
  border: 1px solid #f79347;
}

.bs-t-1-orange {
  border-top: 1px solid #f79347;
}

.bs-r-1-orange {
  border-right: 1px solid #f79347;
}

.bs-b-1-orange {
  border-bottom: 1px solid #f79347;
}

.bs-l-1-orange {
  border-left: 1px solid #f79347;
}

.bs-1-yellow {
  border: 1px solid #ffbf2b;
}

.bs-t-1-yellow {
  border-top: 1px solid #ffbf2b;
}

.bs-r-1-yellow {
  border-right: 1px solid #ffbf2b;
}

.bs-b-1-yellow {
  border-bottom: 1px solid #ffbf2b;
}

.bs-l-1-yellow {
  border-left: 1px solid #ffbf2b;
}

.bd-1-primary {
  border: 1px dashed #2979ff;
}

.bd-t-1-primary {
  border-top: 1px dashed #2979ff;
}

.bd-r-1-primary {
  border-right: 1px dashed #2979ff;
}

.bd-b-1-primary {
  border-bottom: 1px dashed #2979ff;
}

.bd-l-1-primary {
  border-left: 1px dashed #2979ff;
}

.bd-1-success {
  border: 1px dashed #19be6b;
}

.bd-t-1-success {
  border-top: 1px dashed #19be6b;
}

.bd-r-1-success {
  border-right: 1px dashed #19be6b;
}

.bd-b-1-success {
  border-bottom: 1px dashed #19be6b;
}

.bd-l-1-success {
  border-left: 1px dashed #19be6b;
}

.bd-1-error {
  border: 1px dashed #fa3534;
}

.bd-t-1-error {
  border-top: 1px dashed #fa3534;
}

.bd-r-1-error {
  border-right: 1px dashed #fa3534;
}

.bd-b-1-error {
  border-bottom: 1px dashed #fa3534;
}

.bd-l-1-error {
  border-left: 1px dashed #fa3534;
}

.bd-1-warning {
  border: 1px dashed #f90;
}

.bd-t-1-warning {
  border-top: 1px dashed #f90;
}

.bd-r-1-warning {
  border-right: 1px dashed #f90;
}

.bd-b-1-warning {
  border-bottom: 1px dashed #f90;
}

.bd-l-1-warning {
  border-left: 1px dashed #f90;
}

.bd-1-info {
  border: 1px dashed #909399;
}

.bd-t-1-info {
  border-top: 1px dashed #909399;
}

.bd-r-1-info {
  border-right: 1px dashed #909399;
}

.bd-b-1-info {
  border-bottom: 1px dashed #909399;
}

.bd-l-1-info {
  border-left: 1px dashed #909399;
}

.bd-1-bgc {
  border: 1px dashed #f3f4f6;
}

.bd-t-1-bgc {
  border-top: 1px dashed #f3f4f6;
}

.bd-r-1-bgc {
  border-right: 1px dashed #f3f4f6;
}

.bd-b-1-bgc {
  border-bottom: 1px dashed #f3f4f6;
}

.bd-l-1-bgc {
  border-left: 1px dashed #f3f4f6;
}

.bd-1-main {
  border: 1px dashed #303133;
}

.bd-t-1-main {
  border-top: 1px dashed #303133;
}

.bd-r-1-main {
  border-right: 1px dashed #303133;
}

.bd-b-1-main {
  border-bottom: 1px dashed #303133;
}

.bd-l-1-main {
  border-left: 1px dashed #303133;
}

.bd-1-base {
  border: 1px dashed #606266;
}

.bd-t-1-base {
  border-top: 1px dashed #606266;
}

.bd-r-1-base {
  border-right: 1px dashed #606266;
}

.bd-b-1-base {
  border-bottom: 1px dashed #606266;
}

.bd-l-1-base {
  border-left: 1px dashed #606266;
}

.bd-1-tips {
  border: 1px dashed #909399;
}

.bd-t-1-tips {
  border-top: 1px dashed #909399;
}

.bd-r-1-tips {
  border-right: 1px dashed #909399;
}

.bd-b-1-tips {
  border-bottom: 1px dashed #909399;
}

.bd-l-1-tips {
  border-left: 1px dashed #909399;
}

.bd-1-light {
  border: 1px dashed #c0c4cc;
}

.bd-t-1-light {
  border-top: 1px dashed #c0c4cc;
}

.bd-r-1-light {
  border-right: 1px dashed #c0c4cc;
}

.bd-b-1-light {
  border-bottom: 1px dashed #c0c4cc;
}

.bd-l-1-light {
  border-left: 1px dashed #c0c4cc;
}

.bd-1-brc {
  border: 1px dashed #e4e7ed;
}

.bd-t-1-brc {
  border-top: 1px dashed #e4e7ed;
}

.bd-r-1-brc {
  border-right: 1px dashed #e4e7ed;
}

.bd-b-1-brc {
  border-bottom: 1px dashed #e4e7ed;
}

.bd-l-1-brc {
  border-left: 1px dashed #e4e7ed;
}

.bd-1-black {
  border: 1px dashed #000;
}

.bd-t-1-black {
  border-top: 1px dashed #000;
}

.bd-r-1-black {
  border-right: 1px dashed #000;
}

.bd-b-1-black {
  border-bottom: 1px dashed #000;
}

.bd-l-1-black {
  border-left: 1px dashed #000;
}

.bd-1-white {
  border: 1px dashed #fff;
}

.bd-t-1-white {
  border-top: 1px dashed #fff;
}

.bd-r-1-white {
  border-right: 1px dashed #fff;
}

.bd-b-1-white {
  border-bottom: 1px dashed #fff;
}

.bd-l-1-white {
  border-left: 1px dashed #fff;
}

.bd-1-gray {
  border: 1px dashed #bbb;
}

.bd-t-1-gray {
  border-top: 1px dashed #bbb;
}

.bd-r-1-gray {
  border-right: 1px dashed #bbb;
}

.bd-b-1-gray {
  border-bottom: 1px dashed #bbb;
}

.bd-l-1-gray {
  border-left: 1px dashed #bbb;
}

.bd-1-dark {
  border: 1px dashed #777;
}

.bd-t-1-dark {
  border-top: 1px dashed #777;
}

.bd-r-1-dark {
  border-right: 1px dashed #777;
}

.bd-b-1-dark {
  border-bottom: 1px dashed #777;
}

.bd-l-1-dark {
  border-left: 1px dashed #777;
}

.bd-1-blue {
  border: 1px dashed #1464c7;
}

.bd-t-1-blue {
  border-top: 1px dashed #1464c7;
}

.bd-r-1-blue {
  border-right: 1px dashed #1464c7;
}

.bd-b-1-blue {
  border-bottom: 1px dashed #1464c7;
}

.bd-l-1-blue {
  border-left: 1px dashed #1464c7;
}

.bd-1-skyblue {
  border: 1px dashed #4e92e7;
}

.bd-t-1-skyblue {
  border-top: 1px dashed #4e92e7;
}

.bd-r-1-skyblue {
  border-right: 1px dashed #4e92e7;
}

.bd-b-1-skyblue {
  border-bottom: 1px dashed #4e92e7;
}

.bd-l-1-skyblue {
  border-left: 1px dashed #4e92e7;
}

.bd-1-green {
  border: 1px dashed #01b601;
}

.bd-t-1-green {
  border-top: 1px dashed #01b601;
}

.bd-r-1-green {
  border-right: 1px dashed #01b601;
}

.bd-b-1-green {
  border-bottom: 1px dashed #01b601;
}

.bd-l-1-green {
  border-left: 1px dashed #01b601;
}

.bd-1-red {
  border: 1px dashed #f00;
}

.bd-t-1-red {
  border-top: 1px dashed #f00;
}

.bd-r-1-red {
  border-right: 1px dashed #f00;
}

.bd-b-1-red {
  border-bottom: 1px dashed #f00;
}

.bd-l-1-red {
  border-left: 1px dashed #f00;
}

.bd-1-orange {
  border: 1px dashed #f79347;
}

.bd-t-1-orange {
  border-top: 1px dashed #f79347;
}

.bd-r-1-orange {
  border-right: 1px dashed #f79347;
}

.bd-b-1-orange {
  border-bottom: 1px dashed #f79347;
}

.bd-l-1-orange {
  border-left: 1px dashed #f79347;
}

.bd-1-yellow {
  border: 1px dashed #ffbf2b;
}

.bd-t-1-yellow {
  border-top: 1px dashed #ffbf2b;
}

.bd-r-1-yellow {
  border-right: 1px dashed #ffbf2b;
}

.bd-b-1-yellow {
  border-bottom: 1px dashed #ffbf2b;
}

.bd-l-1-yellow {
  border-left: 1px dashed #ffbf2b;
}

.f8 {
  font-size: 8px;
}

.f9 {
  font-size: 9px;
}

.f10 {
  font-size: 10px;
}

.f11 {
  font-size: 11px;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}

.f17 {
  font-size: 17px;
}

.f18 {
  font-size: 18px;
}

.f19 {
  font-size: 19px;
}

.f20 {
  font-size: 20px;
}

.f21 {
  font-size: 21px;
}

.f22 {
  font-size: 22px;
}

.f23 {
  font-size: 23px;
}

.f24 {
  font-size: 24px;
}

.f25 {
  font-size: 25px;
}

.f26 {
  font-size: 26px;
}

.f27 {
  font-size: 27px;
}

.f28 {
  font-size: 28px;
}

.f29 {
  font-size: 29px;
}

.f30 {
  font-size: 30px;
}

.f31 {
  font-size: 31px;
}

.f32 {
  font-size: 32px;
}

.f33 {
  font-size: 33px;
}

.f34 {
  font-size: 34px;
}

.f35 {
  font-size: 35px;
}

.more-t1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more-t2 {
  display: box;
  -webkit-line-clamp: 2;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all linear 0.2s;
}

.more-t3 {
  display: box;
  -webkit-line-clamp: 3;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all linear 0.2s;
}

.more-t4 {
  display: box;
  -webkit-line-clamp: 4;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all linear 0.2s;
}

.fx-js-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-js-ac {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-js-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-js-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-js-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fx-jc-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-jc-ac {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-jc-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-jc-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-jc-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-je-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-je-ac {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-je-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-je-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-je-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-jsb-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fx-jsb-ac {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fx-jsb-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fx-jsb-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fx-jsb-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fx-jsa-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fx-jsa-ac {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fx-jsa-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fx-jsa-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fx-jsa-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fxr-js-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.fxr-js-ac {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.fxr-js-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.fxr-js-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.fxr-js-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.fxr-jc-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.fxr-jc-ac {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.fxr-jc-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.fxr-jc-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.fxr-jc-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.fxr-je-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fxr-je-ac {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fxr-je-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fxr-je-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fxr-je-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.fxr-jsb-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fxr-jsb-ac {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fxr-jsb-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fxr-jsb-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fxr-jsb-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fxr-jsa-as {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.fxr-jsa-ac {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.fxr-jsa-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.fxr-jsa-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.fxr-jsa-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.fy-js-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fy-js-ac {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fy-js-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fy-js-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fy-js-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fy-jc-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fy-jc-ac {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fy-jc-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fy-jc-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fy-jc-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fy-je-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fy-je-ac {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fy-je-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fy-je-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fy-je-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fy-jsb-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fy-jsb-ac {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fy-jsb-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fy-jsb-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fy-jsb-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fy-jsa-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fy-jsa-ac {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fy-jsa-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fy-jsa-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fy-jsa-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fyr-js-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.fyr-js-ac {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.fyr-js-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.fyr-js-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.fyr-js-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.fyr-jc-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.fyr-jc-ac {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.fyr-jc-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.fyr-jc-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.fyr-jc-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.fyr-je-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fyr-je-ac {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fyr-je-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fyr-je-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fyr-je-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fyr-jsb-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fyr-jsb-ac {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fyr-jsb-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fyr-jsb-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fyr-jsb-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.fyr-jsa-as {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.fyr-jsa-ac {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.fyr-jsa-ae {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.fyr-jsa-abaseline {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.fyr-jsa-astretch {
  align-items: stretch;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

/*# sourceMappingURL=index.css.map */
