// 基本单位
$unit: 1px;

// 主题颜色
$uct-primary: #2979ff;
$uct-success: #19be6b;
$uct-error: #fa3534;
$uct-warning: #f90;
$uct-info: #909399;

// 背景
$uct-bgc: #f3f4f6;

// 字体
// 主要
$uct-main: #303133;
// 一般
$uct-base: #606266;
// 次要
$uct-tips: #909399;
// 占位
$uct-light: #c0c4cc;

// 边框
$uct-brc: #e4e7ed;

// 主色
$uct-black: #000;
$uct-white: #fff;
$uct-gray: #bbb;
$uct-dark: #777;
$uct-blue: #1464c7;
$uct-skyblue: #4e92e7;
$uct-green: #01b601;
$uct-red: #f00;
$uct-orange: #f79347;
$uct-yellow: #ffbf2b;

// 偏移变量大小
$space-sizes: (
  2: 2,
  4: 4,
  8: 8,
  10: 10,
  15: 15,
  20: 20,
  24: 24,
  30: 30,
  40: 40,
  50: 50,
  60: 60,
  70: 70,
  80: 80,
  100: 100,
  140: 140,
);

// 字体大小
$font-size: (
  8:8,
  10:10,
  12:12,
  14:14,
  16:16,
  18:18,
  20:20,
  22:22,
  24:24,
  26:26,
  28:28,
  30:30,
  32:32,
  34:34,
  36:36
);

// 边框粗细
$border-sizes: (
  1:1,
  2:2,
);

// 边框圆角大小
$radius-sizes: (
  8: 8,
  10: 10,
  15: 15,
  20: 20,
  24: 24,
  30: 30,
  full:9999
);

// 省略的行数
$omit-sizes: (
  1:1,
  2:2,
  3:3,
  4:4,
);

// grid行数|列数
$grid-sizes: (
  1:1,
  2:2,
  3:3,
  4:4,
  5:5,
  6:6
);
// grid间距大小
$gap-sizes: (
  10: 10,
  15: 15,
  20: 20,
  30: 30,
  40: 40
);

// 响应式布局尺寸配置
$media-sizes: (
  '':0,
  'sm-':768px,
  'md-':1024px,
  'xl-':1280px,
);
